/* پایه استایل‌ها */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* هدر */
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff5722;
}

/* بخش درباره ما */
.about-section {
    background-color: #fff;
    padding: 9%;
    text-align: center;
}

.about-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.about-info p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}

.about-info p:last-child {
    margin-bottom: 0;
}


/* Media Queries */
@media (max-width: 768px) {
    .about-info {
        padding: 15px;
    }

    .about-info h1 {
        font-size: 2rem;
    }

    .about-info p {
        font-size: 1rem;
    }
}