.hero-section {
    min-height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url("../assets/images/hero-bg.jpg") no-repeat center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-section h1,
.hero-section p {
    color: white;
}
